



<h1>This is <%= @employee.first_name %> </h1>

        <%= @employee.first_name %> <%= @employee.last_name  %>
        <br>
        <br>
        <%= @employee.title %>
        <br>
        <br><br>

        <br><h2><%= link_to "This employee works here", employee_office_path(@employee)%><h2><br>