<h1> Please Sign up here </h1>


<br>

    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
        
            <h4><%= error %></h4>

        <% end %>
    <% end %>

<br>





<%= form_with model: @user do |f| %>
        <%= f.label :first_name, "What's Your First Name? :" %>
        <%= f.text_field :first_name  %><br>

        <%= f.label :last_name, "What's Your Last Name? :" %>
        <%= f.text_field :last_name  %><br>

        <%= f.label :email %>
        <%= f.text_field :email %><br>

        <%= f.label :username %>
        <%= f.text_field :username %><br>

        <%= f.label :password %>
        <%= f.password_field :password %><br>
        <br><br>
        <%= f.submit "Signup" %>

        <% end %>