<h1> Welcome <%= @user.firs_name %> </h1>

        <%= @user.firs_name %>
        <br>
        <%= @user.last_name  %>
        <br>
        <%= @user.username %>
        <br>
        <br><br>

<br><br>
<br><h2><%= link_to "EDIT This User's Info", edit_user_path(@user) %></h2><br>
<br><br>
<br><h2><%= link_to "DELETE This User ", @user, method: :delete %></h2><br>