<!DOCTYPE html>
<html>
  <head>
    <title>Office Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    

  <% if logged_in? %>
    <h3> Search by state to find company names </h3>

    <%= form_tag(search_office_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
   <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Search", :class => 'button',:name => nil %>  
    </div>  
   </div> 
  <% end %> 
<% end %>


    <%= yield %>
  </body>
</html>
